body{
    margin: 0; /* 0 means no margins leading to everything right on the edge*/
    padding: 0; /* 0 means no margins leading to everything right on the edge*/
    width: 100%;
    height: 100%;


    background-color: #DEE2E7;

    color: #152428;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(14px,16px);
    line-height: normal;
    text-align: center;
}

section, header, footer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: 100svh;
    width: 100%;
    padding: 0;
}
  
h1, h2, h3{
    font-size: clamp(1rem, 20vw, 4rem);
    font-family: "barge", sans-serif;
    font-weight: 400;
    font-style: normal;
}


header, footer{
    background-color: #152428;
    color: #DEE2E7;
}
  
.title{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
.title h1{
    text-transform: uppercase;
}

#changing-text{
    color: #6F7C8D;
    /* animation: values 1s ease-in-out infinite alternate; */
}

.slider{
    overflow: hidden;
    width: 100%;
    height: 10%;
}

.slider-content{
    display: flex;
    width: max-content;
    height: 100%;
    animation: slideBanner 10s linear infinite forwards;
}

.slider-content img{
    margin: 0 16px;
    width: auto;
    height: 100%;
}
  
  @keyframes slideBanner {
    0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  