<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Mockup</title>
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="components.css">
</head>
<body>
    <section class="about">
        <h1>About Us</h1>

        <figure>
        <img src="../CM_logo_loop_1.gif" alt="animated-logo.gif">
        <p>Cine Manuel is a production company who’ve worked with a variety of brands, Delivering story driven, business oriented, cinematic and most important original content. Backing those efforts are a team of hard working individuals dedicated to delivering remarkable results from horrors to corporate, all the way to adventure and action. 
        </p>
        </figure>

    </section>
</body>
</html>

<style>
    figure{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-height: 100vh;
    }

    figure img{
        position: relative;
        width: 100%;
        height: auto;
    }
</style>