<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Mockup</title>
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/global.css">
</head>
<body>
    <section>
        <h1>footer</h1>
    </section>
    <footer>
        <div class="mission">
            <p>mission statement: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit accusamus dolorum, nesciunt, soluta voluptas deleniti reprehenderit similique expedita odio in at aut temporibus eveniet perspiciatis?</p>
            <ul class="links">
                <li><a href="#">map</a></li>
                <li><a href="#">gallery</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">important information</a></li>
                <li><a href="#">privacy statement</a></li>
                <li><a href="#">cookie statement</a></li>
            </ul>
        </div>

        <div class="socials">
            <ul>
                <li><a href="info@cinemanuel.com.au">info@cinemanuel.com.au</a></li>
                <li><a href="0401627150">0401627150</a></li>
            </ul>
            
            <div class="CTA">
                <p>contact us for a quote</p> 
                <a href="../pages/contact.html"><button>Contact Us</button></a>
            </div>
        </div>

        <div class="line">
        </div>

        <div class="legal">
            <blockquote>@ 2023 Cine Manuel Productions</blockquote>
            <blockquote>designed by Ibrahim Aouli</blockquote>
        </div>
</footer>
</body>
</html>

<style>
</style>