<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Mockup</title>
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="components.css">
</head>
<body>
    <footer>
        <div class="production">
            <p>Cine Manuel Productions uses only the best <a href="wip.html">gear</a> and our <a href="wip.html">scope</a> ranges through all the levels of media production.</p>
        </div>
        <div class="socials">
            <!-- <a href="wip.html"><img src="..\socials\youtube.png" alt="youtube"></a> -->
            <!-- <a href="wip.html"><img src="..\socials\facebook.png" alt="Facebook"></a> -->
            <a href="https://www.instagram.com/cine_manuel/" class="instagram"><img src="..\socials\instagram.png" alt="Instagram"></a>
            <!-- <a href="wip.html"><img src="..\socials\twitter.png" alt="Twitter"></a> -->
            <!-- <a href="https://au.linkedin.com/in/rayan-heloui-aa94581b0"><img src="..\socials\linkedin.png" alt="linkedin"></a> -->
            
        </div>
        
        <div class="CTA">
            <p>Thinking of asking us something?</p> 
            <a href="contact.html"><button>Contact Us</button></a>
        </div>

        <div class="legal">
            <blockquote>@ 2023 Cine Manuel Productions</blockquote>
            <!-- <blockquote>designed by Ibrahim Aouli</blockquote> -->
        </div>
    </footer>
</body>
</html>

<style>
footer{
    padding: 0 5%;
    min-height: 25vh;
    min-height: 25svh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.socials a img{
    padding: 0 4px;
    width: 32px;
    height: 32px;
}
</style>