<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="*insert description for page to show up in search engine*">
    <meta name="keywords" content="Cine Manuel, CineManuel, Cine-Manuel, Cinema, Camera, Gear, Film, Movies, Cinema, Filmmaking, Director, Producer, Screenplay, Acting, Cinematography, Editing, Visual Effects, Sound Design, Film Festival, Film Production, Film Industry, Film Theory, Film Critique, Film History, Box Office, Film Awards, Film Marketing, Film Distribution, Film Promotion, Film Analysis, Film Genre">
    <meta name="author" content="Cine Manuel Productions">
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="styles/global.css">
</head>