<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/nav.css">

    <title>nav mockup</title>
</head>
<body>
        <!-- sidebar instead of navbar ... tied to the right side of sreen -->
    <nav>
        <a href="../pages/home.html"><span class="nav-title"><span class="highlight">C</span>ine <span class="highlight">M</span>anuel</span></a>
            
        <input type="checkbox" name="navigate" id="navigate">
        <label class="nav-button" for="navigate">
            <span></span>
        </label>
        <div class="nav-menu">
            <a href="../pages/contact.html" id="nav-contact"><div>Contact Us</div></a>
            <a href="../pages/wip.html" id="nav-gallery"><div>Gallery</div></a>
            <a href="../pages/wip.html" id="nav-about"><div>About Us</div></a>
        </div>
    </nav>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi sit eum, voluptatum quisquam suscipit nisi commodi, ex facere magnam adipisci neque architecto. Facilis ipsa totam deleniti eos? Molestiae, accusantium eum.
        Molestias porro id, explicabo incidunt veniam ex quis a minus eum optio quos iusto laborum vel voluptatem quae cum repudiandae voluptate alias iure, vero excepturi dolores accusantium? Explicabo, alias dicta!
        Fuga delectus odio eius id possimus incidunt eos ullam asperiores natus? Ipsum nesciunt numquam doloribus optio inventore laborum quisquam soluta, laboriosam consequatur aliquam enim, ullam velit minus eius? Rerum, nihil?
        A voluptatibus mollitia esse eveniet pariatur temporibus atque odio modi ad, ducimus, iusto ipsa laboriosam voluptate voluptatem molestiae officiis dolor voluptas. Magnam expedita deserunt ullam, sed recusandae ex labore sint?
        Laudantium enim quisquam ullam repellat, deleniti vitae pariatur natus. Perferendis similique error temporibus cupiditate praesentium, dolores molestiae, omnis corrupti nulla alias, dolorum expedita iusto? Ab provident minima ipsam architecto unde!
        Rerum quam cupiditate neque, doloremque quo aspernatur veniam rem obcaecati, aut dolorum provident culpa quibusdam reprehenderit inventore ratione labore vero velit earum exercitationem iusto officia? In non nobis ipsam veritatis.
        Hic nostrum doloribus, unde nihil accusantium distinctio eligendi quis qui dolorem assumenda ea quaerat animi. Consequuntur libero quae mollitia itaque modi vel pariatur? Officiis molestiae quis doloremque a sunt consequatur.
        Eum, veniam beatae omnis suscipit repudiandae magni voluptate quisquam autem placeat sequi obcaecati sapiente culpa! Consectetur facere praesentium id cupiditate? Quasi iusto ratione assumenda accusantium aut repellendus quos facere veniam!
        Laboriosam aspernatur ipsa, itaque animi similique fugiat magnam omnis minus numquam et. Quo assumenda cumque hic officiis aperiam, sequi tenetur corporis tempora error magnam quibusdam reprehenderit laborum consectetur inventore. Tempore?
        Tempore labore accusantium vero quos, id non neque eius sunt ea dicta nemo harum maxime expedita reprehenderit nobis ullam ex eligendi sapiente recusandae officia necessitatibus totam, fuga, pariatur natus. Officia.</p>
    </div>
    
</body>
</html>