<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="../styles/global.css">
    <title>test scroller</title>

    <style>
        .body{
            width: 100%;
            height: 100%;
        }
        .wide-image{
            width: auto;
            height: auto;
            background-image: 
            url('../assets/brands/4x4%20Show%20-%20Custom.png'),
            url('../assets/brands/Bilstein%20Logo.png');
            background-repeat: no-repeat;
            background-color: black;
            background-size: contain;
            padding-top: 100%;
        }
        </style>
</head>
<body>
        <div class="wide-image"></div>
</body>
</html>

