<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="components.css">
    <title>Section Mockup</title>
</head>
<body>
    <section class="name">
        <h2 class="title">name</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti ratione laborum laudantium totam sapiente suscipit nihil reiciendis, esse corporis. Praesentium distinctio aliquid libero tenetur labore consequatur cumque sed neque quia!
        Consequuntur assumenda molestiae labore blanditiis quo optio odit aspernatur adipisci harum ea reprehenderit itaque tenetur ducimus rerum praesentium neque non sapiente qui maiores sunt delectus, animi ex! Officia, laboriosam exercitationem.
        Eligendi iure et animi voluptatibus dicta temporibus labore repellendus consequatur iusto, illum quasi? Laudantium deserunt magnam amet ducimus quaerat repellendus et. Est, nam ratione illo doloribus omnis iure autem distinctio!
        Beatae placeat natus nemo laborum. Ducimus, officia mollitia porro quod ipsam obcaecati, magnam reprehenderit inventore error esse placeat fugiat alias asperiores sint, quibusdam quisquam molestias dolorum laudantium. Sapiente, mollitia voluptates?
        Ipsa vero nobis recusandae officia assumenda laboriosam. Exercitationem error aut, voluptas praesentium quasi corrupti nisi suscipit inventore fuga aperiam et magni est tempore debitis, dolores facere, nesciunt quidem expedita? Rerum?
        Exercitationem, quo nemo. Ex sit optio laborum deserunt distinctio vero veniam ea! Sapiente, ipsa veritatis perferendis, aut accusamus quidem ea voluptates ipsam saepe aspernatur aliquam nostrum fugit quaerat facere nam!
        Error, quod asperiores. Ullam dignissimos ipsa ipsam eaque harum impedit, voluptatum enim quaerat eos odio unde fugit libero, aliquid obcaecati sed, ut iusto architecto sunt at eius asperiores possimus aliquam.
        Omnis est soluta provident maxime, veritatis, possimus ex qui placeat facere facilis quaerat excepturi dolores quis incidunt. Maxime alias praesentium, fugit mollitia nisi quos error distinctio recusandae fugiat illum quibusdam!
        Cum deserunt doloremque, illo laborum reiciendis libero rem cumque beatae dolor laboriosam architecto pariatur placeat minus fuga expedita quos harum sed! Sit quae fugiat amet nam hic libero, commodi reiciendis.
        Ut perferendis alias impedit accusantium iusto quos inventore, necessitatibus voluptate assumenda amet ipsa voluptates rem hic ratione. Saepe iure voluptas consequuntur cupiditate provident ipsum ad obcaecati ea dicta. Beatae, ad.</p>
    </section>
</body>
</html>

<style>
    section{
        margin-top: 5%;
        padding: 0 5%;
    }
</style>
