<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/cinemanuel/CM_Logo_Icon 128x128.png" type="image/png">
    <link rel="stylesheet" href="https://use.typekit.net/cty1qev.css">
    <link rel="stylesheet" href="https://use.typekit.net/gky2lwc.css">
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/team.css">
    <title>Team Mockup</title>
</head>
<body>
    <div id="image-container">

        <div class="collider ray">

        </div>
        <div class="collider immanuel">

        </div>
        <div class="collider jayden">

        </div>
        <img class="team" src="../assets/cinemanuel/team/Team_image_color.jpg" alt="Original Image">
        <img src="../assets/cinemanuel/team/Rayan Cutout-color.png" alt="Cutout 1" id="ray">
        <img src="../assets/cinemanuel/team/Immanuel Cutout-color.png" alt="Cutout 2" id="immanuel">
        <img src="../assets/cinemanuel/team/Jayden Cutout-color.png" alt="Cutout 3" id="jayden">
    </div>
</body>
</html>