.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.about-logo{
    position: relative;
    width: 50%; /* image width */
    height: 50%; /* image height */
    padding-top: 50%; /* image ratio in % (image width / image height) * 100 */
    background-image: url("../assets/cinemanuel/Final_CM\ Logo\ Animation_GIF-1024-1024-no-loop.gif");
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 100ms;
}

.about-logo:hover{
    cursor: pointer;
    background-image: url("../assets/cinemanuel/Final_CM\ Logo\ Animation_GIF.gif");
}

.about-text{
    width: 50%;
}

.about img{
    position: relative;
    width: 40%;
    height: auto;
}