/* general stuff */
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    /* color: black; */
    background-color: #DEE2E7;
    color: #152428;
    font-family: "lato", sans-serif;
    font-size: 12px;
}

h1,h2,h3,h4,h5,h6{
    font-family: "barge", sans-serif;
    font-size: 3rem;
    text-align: center;
}

section{
    margin-top: 5%;
    padding: 0 5%;
}

.content{
    margin-top: 5%;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}