nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-height: 100svh;
    z-index: 9999;
    pointer-events: none;
}

nav *{
    pointer-events: auto;
}


#navigate{
    display: none;
    opacity: 0;
}

.nav-title, .nav-title .highlight{
    color: white;
    font-size: 3rem;
    font-family: "barge", sans-serif;
    font-weight: normal;
    z-index: 9999;
}



.mult{
    mix-blend-mode: multiply;
}

.diff{
    mix-blend-mode: difference;
}

.lum{
    mix-blend-mode: screen;
}

.nav-title{
    position: fixed;
    top: 20px;
    left: 20px;
    letter-spacing: 2px;
}

.nav-button{
    opacity: 0.75;
    display: flex;
    align-items: center;  
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

#navigate:checked ~ .nav-title{
    display: none;
}

.nav-button > span,
.nav-button > span::before,
.nav-button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--mid-color);
  transition: 0.3s;
}
.nav-button > span::before {
  content: '';
  top: -8px;
}
.nav-button > span::after {
  content: '';
  top: 8px;
}

#navigate:checked ~ .nav-button > span {
    transform: rotate(45deg);
    background-color: var(--light-color);
  }
  
#navigate:checked ~ .nav-button > span::before {
    top: 0;
    transform: rotate(0);
    background-color: var(--light-color);
}
  
#navigate:checked ~ .nav-button > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: var(--light-color);
}
  
#navigate:checked ~ .nav-button {
    visibility: visible;
}


.nav-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    transform: translate(100%);
}

.nav-menu a{
    color: var(--mid-color);
}

.nav-menu a:hover{
    color: var(--light-color);
}


#navigate:checked ~ .nav-menu{
    display: flex;
    overflow: hidden;
    animation: navSlide 0.3s ease-in-out;
    transform: translate(0%);
}

@keyframes navSlide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

