    .title{
        line-height: 0.5;
    }
    
    .title-screen {
        height: 100vh;
        height: 100svh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .title span {
        word-wrap: break-word;
        white-space: pre-wrap;
        hyphens: auto;

    }

    .title-text {
        color: var(--mid-color);
        font-size: 2rem;
        font-family: "lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 6px;
    }


    .title-name {
        color: var(--mid-color);
        font-size: 4rem;
        letter-spacing: 8px;
        white-space: nowrap;
        backdrop-filter: blur(0);
        /* animation: textChange 6s infinite; */
    }

    @keyframes textChange {
        0% {
            opacity: 0;
            filter: blur(64px);
            backdrop-filter: blur(32px);
        }

        33% {
            opacity: 1;
            filter: blur(0);
            backdrop-filter: blur(0);
        }

        66% {
            opacity: 1;
            filter: blur(0);
            backdrop-filter: blur(0);
        }

        100% {
            filter: blur(64px);
            backdrop-filter: blur(32px);
            opacity: 0;
        }
    }