    .title{
        line-height: 0.5;
    }
    
    .title-screen {
        height: 100vh;
        height: 100svh;
        width: 100vw;
        width: 100svw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle;
        transition: height 300ms ease;
    }

    .title-screen {
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow-wrap: anywhere;
        white-space: pre-wrap;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    .title-text {
        color: var(--mid-color);
        font-size: 1.5em;
        font-family: "lato", sans-serif;
        text-transform: uppercase;
        letter-spacing: 6px;
    }


    .title-name, .about-name{
        margin: 0;
        color: var(--mid-color);
        font-size: 3rem;
        letter-spacing: 8px;
        backdrop-filter: blur(0);
        animation: textChange 3500ms infinite;
    }

    @keyframes textChange {
        0% {
            opacity: 0;
            filter: blur(6rem);
            backdrop-filter: blur(32px);
            /* transform: translateY(100px); */
        }

        33% {
            opacity: 1;
            filter: blur(0);
            backdrop-filter: blur(0);
            /* transform: translateY(0); */
        }

        66% {
            opacity: 1;
            filter: blur(0);
            backdrop-filter: blur(0);
            /* transform: translateY(0); */

        }

        100% {
            opacity: 0;
            filter: blur(6rem);
            backdrop-filter: blur(32px);
            /* transform: translateY(100px); */
        }
    }